/* *******DESKTOP LARGE SCREEN SIZE******** */
@media screen and (max-width: 992px) {
  body {


    header {
      .phone {
        h4 {
          font-size: 1rem;
        }
      }
    }

    .design {
      img {
        width: 100%;
      }
    }

    main {
      .radio {
        ul {
          li {
            margin-right: 0.2rem;

            span {
              font-size: 1em;
            }

            input[type="radio"] {
              width: 2rem;
              height: 2rem;
              margin-left: 1.1rem;
            }
          }
        }
      }

      .paket {
        padding-bottom: 1rem;

        button {
          display: flex;
          justify-content: center;
          text-align: center;
          align-content: center;
          // flex-direction: column;
          margin: 1rem auto;
          width: 80%;
        }
      }

      .check {
        .btn {
          width: 90%;
        }
      }
    }

    .portfel {
      .buttons {
        display: flex;
        justify-content: center;
        font-size: 0.8em;
      }
    }

    .quation {
      input {
        width: 46.5rem;
        height: 5rem;
        margin-top: 1rem;
      }

      .icons {
        display: inline-block;
        margin: 2rem auto;
        margin-bottom: -3rem;
      }
    }

  }
}


/* ********TABLET MEDIUM SCREEN SIZE********** */
@media screen and (max-width: 768px) {
  body {
    header {
      .logo {
        padding-left: 3rem;
      }

      .phone {
        display: flex;
        justify-content: end;
        padding-left: 4rem;

      }

      .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;

        input {
          width: 100%;
        }
      }
    }

    .design {
      // img {
      //   width: 100%;
      // }

      h2 {
        text-align: center;
      }

      .btn {
        width: 100%;
        margin-bottom: 2rem;
      }
    }

    main {
      span {
        font-size: 1.5em;
      }

      .radio {
        span {
          font-size: 1em;
        }

        input[type="radio"] {
          margin-top: 1.3rem;
          width: 2rem;
          height: 2rem;
          margin-left: 2rem;
        }
      }

      .paket {
        padding-bottom: 1rem;
        margin-bottom: 2rem;
      }

      .check {
        .btn {
          width: 90%;
          font-size: 1.2em;
        }

        span {
          font-size: 1.5em;
        }

        p {
          font-size: 1.5em;
        }
      }
    }

    .portfel {
      .buttons {
        display: flex;
        font-size: 0.9em;
        margin: 0 4rem;

        .two-btn {
          padding-bottom: 1rem;
        }

        .thr-btn {
          border-right: 2px solid $accent-color;
          border-radius: 0 2rem 2rem 0;
        }

        .end-btn {
          margin-top: 2rem;
          border-radius: 2rem;

        }
      }
    }

    .quation {
      input {
        width: 26.5rem;
        height: 5rem;
        margin-top: 1rem;
      }

      .icons {
        display: inline-block;
        margin: 2rem auto;
        margin-bottom: -3rem;
      }
    }
  }
}

/* **********MOBILE SMALL SCREEN SIZE********** */
@media screen and (max-width: 576px) {
  body {
    font-size: 18px;

    header {
      .menu {
        .phone {
          margin-top: 3rem;

          h4 {
            font-size: 1em;
          }

          p {
            // font-size: 2.5em;
          }
        }

        .nav {
          margin-top: 1rem;
          display: flex;
          justify-content: end;
          margin-left: auto;
        }

        .logo {
          width: 100px;
          height: 50px;
        }

        p {
          font-size: 1em;
        }
      }

      .text-sup {
        h1 {
          font-size: 2em;
        }

        h3 {
          font-size: 1.5em;
        }

        p {
          font-size: 1em;
        }
      }
    }

    .design {
      .row {
        margin: 0 3rem;
      }

      hr {
        display: none;
      }
    }

    main {
      .row {
        margin: 0 3rem;
      }

      h1 {
        padding-bottom: 2rem;
      }

      hr {
        display: none;
      }

      .radio {
        ul {
          display: flex;
          flex-direction: column;

          li {
            display: flex;
            justify-content: space-between;

            input[type="radio"] {
              margin-top: 1.3rem;
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }

    .portfel {

      hr {
        display: none;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;

        a {
          display: flex;
          flex-direction: column;

          button {
            border-right: 2px solid $accent-color;
            border-radius: 1rem;
            margin-bottom: 1rem;
          }

          .thr-btn {
            border-radius: 1rem;
          }

          .end-btn {
            border-radius: 1rem;
            margin-top: 0.2rem;
          }
        }
      }
    }

    aside {

      .aside-text {
        hr {
          display: none;
        }
      }
    }

    .prosess {
      hr {
        display: none;
      }

      p {
        font-size: 1.5em;
      }
    }

    .company {
      .comp-text {
        h1 {
          padding-bottom: 4rem;
          font-size: 1.7em;
        }

        hr {
          display: none;
        }
      }

      input[type="range"] {
        width: 90rem;
      }
    }

    .my-comand {
      hr {
        display: none;
      }
    }

    .blog {
      hr {
        display: none;
      }
    }

    .quation {
      hr {
        display: none;
      }
    }

    footer {
      .footer-nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}