/* *******DESKTOP LARGE SCREEN SIZE******** */
@media screen and (max-width: 1200px) {
  body {
    header {
      position: relative;

      .bgc-btn {
        display: none;
      }

      .menu {

        ul {
          position: absolute;
          left: -12rem;
          height: 50rem;
        }
      }
    }

    main {
      position: relative;

      .radio {
        width: 100%;
        padding-bottom: 3.5rem;

        input[type="range"] {
          position: absolute;
          width: 50rem;
          top: 9.2rem;
        }

        .box-text {
          display: flex;
          margin-top: -1rem;


          .box-1 {
            padding-left: 2rem;
          }

          .box-2 {
            padding-left: 5rem;
          }

          .box-3 {
            padding-left: 10rem;
          }

          .box-4 {
            padding-left: 15rem;
          }
        }

        .circle {
          width: 2rem;
          height: 2rem;
          position: absolute;
          margin-bottom: 2.5rem;
          background-color: $primary-color-text;
          border-radius: 50%;
          margin-bottom: 2.5rem;
        }

        .box_1 {
          left: 0;
        }

        .box_2 {
          left: 2rem;
        }

        .box_3 {
          left: 10.3rem;
        }

        .box_4 {
          left: 22.5rem;
        }
      }

      .paket {
        width: 100%;

        button {
          // width: 100%;
          width: 16rem;
        }


        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 7rem;
          width: 40rem;
          height: 13rem;
          top: 8rem;
        }

        .textThree {
          left: 14rem;
        }

        .textOne {
          left: 0;
        }

      }
    }

    .quation {
      .inputs {
        input {
          width: 20rem;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  body {

    header {
      position: relative;

      .phone {
        h4 {
          font-size: 1rem;
        }
      }

      nav {

        ul {
          position: absolute;
          left: 5rem;
        }
      }

      .bgc-btn {
        display: none;
      }
    }

    .design {
      img {
        width: 100%;
      }
    }

    main {
      position: relative;

      .radio {
        width: 100%;
        padding-bottom: 3.5rem;

        input[type="range"] {
          position: absolute;
          width: 41rem;
        }

        .box-text {
          display: flex;
          margin-top: -1rem;


          .box-1 {
            padding-left: 2rem;
          }

          .box-2 {
            padding-left: 4rem;
          }

          .box-3 {
            padding-left: 7rem;
          }

          .box-4 {
            padding-left: 11rem;
          }
        }

        .circle {
          width: 2rem;
          height: 2rem;
          position: absolute;
          margin-bottom: 2.5rem;
          background-color: $primary-color-text;
          border-radius: 50%;
          margin-bottom: 2.5rem;
        }

        .box_1 {
          left: 0;
        }

        .box_2 {
          left: 0.3rem;
        }

        .box_3 {
          left: 6rem;
        }

        .box_4 {
          left: 14.5rem;
        }
      }

      .paket {
        width: 100%;
        padding: 1rem 4rem;

        button {
          width: 100%;
        }

        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 5.1rem;
          top: 9.5rem;
          width: 38rem;
          height: 13rem;
          clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
        }

        .textThree {
          top: 23rem;
        }

        .textTwo {
          top: 16rem;
        }

      }
    }



    .portfel {
      .buttons {
        display: flex;
        justify-content: center;
        font-size: 1.1em;
      }

      button {
        padding: 1rem 1.4rem;
      }
    }

    .quation {
      input {
        width: 100%;
        height: 5rem;
        margin-top: 1rem;
      }

      .icons {
        display: inline-block;
        margin: 2rem auto;
        margin-bottom: -3rem;
      }
    }

  }
}


/* ********TABLET MEDIUM SCREEN SIZE********** */
@media screen and (max-width: 768px) {
  body {
    header {

      .phone {
        display: flex;
        justify-content: end;
        padding-left: 4rem;
      }

      .menu {
        display: flex;

        .logo_l {
          width: 100%;

        }

        .phone {

          h4 {
            font-size: 0.6em;
          }
        }

        .nav {
          margin-top: 1rem;
          justify-content: center;
          margin-left: auto;

          ul {
            box-shadow: none;
            background: none;
            position: relative;
            left: -35rem;
            display: flex;
            flex-direction: column;

            li {
              text-align: center;
              font-size: 1.2em;
              box-shadow: 0 0 6px $accent-color;
              width: 30rem;
              height: 5rem;
              border: 2px solid $primary-color-text;
              border-radius: 5px;
              margin-top: 0.5rem;


              a {
                color: $primary-color-text;
                text-decoration: none;

                &:hover {
                  color: $accent-color;

                }

              }
            }
          }
        }

        .logo {
          width: 100px;
          height: 50px;
        }

        p {
          font-size: 1em;
        }
      }





      .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;

        input {
          width: 100%;
        }
      }

      .cat {
        display: none;
      }

      .temp {
        margin-bottom: 3rem;
      }
    }

    .design {
      img {
        margin-bottom: 2rem;
      }

      h2 {
        text-align: center;
      }

      .btn {
        width: 100%;
        margin-bottom: 2rem;
      }
    }


    main {
      position: relative;

      .radio {
        width: 100%;
        padding-bottom: 3.5rem;

        input[type="range"] {
          position: absolute;
          width: 42.5rem;
        }

        .box-text {
          display: flex;
          margin-top: -1rem;


          .box-1 {
            padding-left: 2rem;
          }

          .box-2 {
            padding-left: 4rem;
          }

          .box-3 {
            padding-left: 7rem;
          }

          .box-4 {
            padding-left: 12.5rem;
          }
        }

        .circle {
          width: 2rem;
          height: 2rem;
          position: absolute;
          margin-bottom: 2.5rem;
          background-color: $primary-color-text;
          border-radius: 50%;
          margin-bottom: 2.5rem;
        }

        .box_1 {
          left: 0;
        }

        .box_2 {
          left: 1.5rem;
        }

        .box_3 {
          left: 8.7rem;
        }

        .box_4 {
          left: 15rem;
        }
      }

      .paket {
        width: 100%;
        padding: 1rem 4rem;

        button {
          width: 100%;
        }

        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 5.1rem;
          top: 9.5rem;
          width: 38rem;
          height: 13rem;
          clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
        }

        .textThree {
          top: 23rem;
        }

        .textTwo {
          top: 16rem;
        }

      }
    }

    .portfel {
      .buttons {
        display: flex;
        font-size: 0.9em;
        margin: 0 4rem;

        .two-btn {
          padding-bottom: 1rem;
        }

        .thr-btn {
          border-right: 2px solid $accent-color;
          border-radius: 0 2rem 2rem 0;
        }

        .end-btn {
          margin-top: 2rem;
          border-radius: 2rem;

        }
      }
    }

    .quation {
      input {
        width: 26.5rem;
        height: 5rem;
        margin-top: 1rem;
      }

      .icons {
        display: inline-block;
        margin: 2rem auto;
        margin-bottom: -3rem;
        padding-left: calc(100%/5);
      }
    }
  }
}

/* **********MOBILE SMALL SCREEN SIZE********** */
@media screen and (max-width: 576px) {
  body {
    font-size: 18px;

    header {
      .menu {
        display: flex;

        .logo_l {
          width: 100%;

        }

        .phone {

          h4 {
            font-size: 0.6em;
          }
        }

        .nav {
          margin-top: 1rem;
          justify-content: center;
          margin-left: auto;

          ul {
            box-shadow: none;
            background: none;
            position: relative;
            left: -30rem;
            display: flex;
            flex-direction: column;

            li {
              text-align: center;
              font-size: 1.2em;
              box-shadow: 0 0 6px $accent-color;
              width: 30rem;
              // height: 5rem;
              border: 2px solid $primary-color-text;
              border-radius: 5px;
              margin-top: 0.1rem;


              a {
                color: $primary-color-text;
                text-decoration: none;

                &:hover {
                  color: $accent-color;

                }

              }
            }
          }
        }

        .logo {
          width: 100px;
          height: 50px;
        }

        p {
          font-size: 1em;
        }
      }

      .text-sup {
        h1 {
          font-size: 2em;
        }

        h3 {
          font-size: 1.5em;
        }

        p {
          font-size: 1em;
        }
      }
    }

    .design {
      .row {
        margin: 0 3rem;
      }

      hr {
        display: none;
      }
    }

    main {
      hr {
        display: none;
      }

      position: relative;

      .radio {
        width: 100%;
        padding-bottom: 3.5rem;

        input[type="range"] {
          position: absolute;
          width: 41rem;
          top: 10rem;
          left: 1.5rem;
        }

        .box-text {
          display: flex;
          margin-top: -1rem;


          .box-1 {
            padding-left: 1rem;
          }

          .box-2 {
            padding-left: 1.5rem;
          }

          .box-3 {
            padding-left: 6rem;
          }

          .box-4 {
            padding-left: 12rem;
          }
        }

        .circle {
          width: 2rem;
          height: 2rem;
          position: absolute;
          margin-bottom: 2.5rem;
          background-color: $primary-color-text;
          border-radius: 50%;
          margin-bottom: 2.5rem;
        }

        .box_1 {
          left: -0.4rem;
        }

        .box_2 {
          left: -1.1rem;
        }

        .box_3 {
          left: 4.5rem;
        }

        .box_4 {
          left: 13rem;
        }
      }

      .paket {
        width: 100%;
        padding: 0;

        button {
          width: 90%;
        }

        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 0;
          top: 8.5rem;
          width: 34rem;
          height: 15rem;
          clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
        }

        .textThree {
          top: 23rem;
        }

        .textTwo {
          top: 16rem;
        }

      }

      .check {
        margin-top: 2rem;
      }
    }

    .portfel {

      hr {
        display: none;
      }

      h1 {
        padding-bottom: 3rem;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;

        a {
          display: flex;
          flex-direction: column;

          button {
            border-right: 2px solid $accent-color;
            border-radius: 1rem;
            margin-bottom: 1rem;
          }

          .thr-btn {
            border-radius: 1rem;
            border-left: 1px solid $accent-color;
          }

          .end-btn {
            border-radius: 1rem;
            margin-top: 0.2rem;
          }
        }
      }
    }

    aside {

      .aside-text {
        hr {
          display: none;
        }
      }
    }

    .process {
      .process-text {
        margin-top: 3rem;
      }

      hr {
        display: none;
      }

      p {
        font-size: 1.5em;
        font-weight: 700;
        padding: 2rem 0;
      }
    }

    .company {
      .comp-text {
        h1 {
          padding-bottom: 4rem;
          font-size: 1.7em;
        }

        hr {
          display: none;
        }
      }

      input[type="range"] {
        width: 90rem;
      }
    }

    .my-comand {
      hr {
        display: none;
      }
    }

    .blog {
      hr {
        display: none;
      }
    }

    .quation {
      hr {
        display: none;
      }
    }

    footer {
      .footer-nav {
        display: flex;
        justify-content: space-between;
        padding-left: 4rem;
        // flex-direction: column;
      }

      .copy {
        padding-left: 4rem;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  body {
    main {
      hr {
        display: none;
      }

      position: relative;

      .radio {
        width: 100%;
        padding-bottom: 3.5rem;

        input[type="range"] {
          position: absolute;
          width: 30.5rem;
          top: 10rem;
          left: 1.5rem;
        }

        .box-text {
          display: flex;
          margin-top: -1rem;


          .box-1 {
            padding-left: 1rem;
          }

          .box-2 {
            padding-left: 1.5rem;
          }

          .box-3 {
            padding-left: 2rem;
          }

          .box-4 {
            padding-left: 5rem;
          }
        }

        .circle {
          width: 2rem;
          height: 2rem;
          position: absolute;
          margin-bottom: 2.5rem;
          background-color: $primary-color-text;
          border-radius: 50%;
          margin-bottom: 2.5rem;
        }

        .box_1 {
          left: -0.4rem;
        }

        .box_2 {
          left: -2.8rem;
        }

        .box_3 {
          left: -0.5rem;
        }

        .box_4 {
          left: 2.8rem;
        }
      }

      .paket {
        width: 100%;
        padding: 0;

        button {
          width: 90%;
        }

        div {
          margin-top: 2rem;
        }

        .textOne,
        .textTwo,
        .textThree {
          position: absolute;
          left: 0;
          top: 8.5rem;
          width: 100%;
          height: 15rem;
          clip-path: polygon(50% 0%, 56% 20%, 100% 20%, 100% 100%, 0 100%, 0 20%, 44% 20%);
        }

        .textThree {
          top: 23rem;
        }

        .textTwo {
          top: 16rem;
        }

      }

      .check {
        margin-top: 2rem;
      }
    }

    .company {
      .slider {

        img {
          width: 100%;
          height: 5rem;
          margin-bottom: 3rem;

        }
      }

      input[type="range"] {
        margin-top: 5rem;
      }
    }
  }
}