html {
  font-size: 10px; }

body {
  font-size: 16px; }
  body .container {
    padding: 4rem 0; }
  body .btn {
    width: 225px;
    height: 60px;
    background-color: #19b5fe;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 1em; }
    body .btn:hover {
      background-color: #FFFFFF;
      border: 2px solid #19b5fe;
      color: #19b5fe; }
  body a:hover {
    cursor: pointer; }
  body i {
    width: 3rem;
    height: 3rem;
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
    padding: 0.7rem;
    color: #FFFFFF;
    margin: 1rem; }
    body i:hover {
      border: 1px solid #19b5fe;
      color: #19b5fe; }
  body header {
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    body header .phone h4 {
      color: #FFFFFF;
      font-size: 0.7em;
      font-weight: 300; }
      body header .phone h4 p {
        font-size: 1.6em;
        font-weight: 500; }
    body header .nav .menu-burger span {
      display: block;
      width: 40px;
      height: 3px;
      margin: 0.2rem 0;
      background-color: #FFFFFF;
      cursor: pointer; }
      body header .nav .menu-burger span:hover {
        background-color: #19b5fe; }
    body header .nav p {
      color: #FFFFFF;
      cursor: pointer; }
      body header .nav p:hover {
        color: #19b5fe; }
    body header .nav .hidden {
      display: none; }
    body header .nav ul {
      -webkit-box-shadow: 0 0 3px #19b5fe;
              box-shadow: 0 0 3px #19b5fe; }
      body header .nav ul li {
        display: block;
        font-size: 1.2em; }
        body header .nav ul li a {
          color: #FFFFFF;
          text-decoration: none; }
          body header .nav ul li a:hover {
            color: #19b5fe; }
    body header .cat {
      -webkit-transition: all 1s;
      transition: all 1s; }
      body header .cat:hover {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
  body .text-sup {
    color: #FFFFFF;
    padding-top: 8rem; }
    body .text-sup h1 {
      font-size: 3em; }
    body .text-sup h3 {
      font-size: 2em; }
    body .text-sup p {
      padding: 4rem 0;
      font-size: 1.4em;
      font-weight: 100; }
  body .contact input {
    width: 290px;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding-left: 2rem;
    margin-left: 0.8rem;
    margin-bottom: 3.5rem; }
    body .contact input:focus {
      outline: none; }
    body .contact input:active {
      border: 2px solid #19b5fe; }
  body .temp p {
    color: #FFFFFF;
    font-weight: 100;
    padding-top: 2rem; }
  body .temp img {
    padding-top: 7rem;
    padding-bottom: 5rem; }
  body .design img {
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    body .design img:hover {
      -webkit-transform: scale(1.03);
              transform: scale(1.03); }
  body .design .my h1 {
    font-size: 2.2em;
    font-weight: 400; }
  body .design .my hr {
    width: 380px;
    background-color: #19b5fe;
    margin-top: 1.5rem; }
  body .design .integer {
    padding-top: 5rem; }
    body .design .integer h2 {
      color: #19b5fe; }
    body .design .integer button {
      margin-top: 3rem; }
  body .design .extra {
    padding-top: 5rem; }
  body .design h2 {
    color: #19b5fe; }
  body .design button {
    margin-top: 3rem; }
  body main {
    background-image: url(../images/changeHouse.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    body main .main-text h1 {
      font-size: 2.2em;
      font-weight: 400;
      color: #FFFFFF; }
    body main .main-text hr {
      width: 380px;
      background-color: #FFFFFF;
      margin-top: 1.5rem; }
    body main .main-text p {
      color: #FFFFFF;
      font-weight: 300;
      font-size: 1.5em;
      padding-bottom: 4rem; }
    body main .radio {
      -webkit-box-shadow: 0 0 4px #fff;
              box-shadow: 0 0 4px #fff; }
      body main .radio ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 2rem; }
      body main .radio li {
        list-style-type: none; }
      body main .radio span {
        color: #FFFFFF;
        font-weight: 200;
        font-size: 2rem; }
      body main .radio h4 {
        color: #FFFFFF;
        font-weight: 300;
        padding: 1rem 2rem 0 1rem; }
      body main .radio input[type="radio"] {
        margin: 0 4rem; }
    body main .paket {
      -webkit-box-shadow: 0 0 4px #fff;
              box-shadow: 0 0 4px #fff; }
      body main .paket h4 {
        color: #FFFFFF;
        font-weight: 300;
        padding: 1rem 0 1rem 1rem; }
      body main .paket button {
        width: 195px;
        height: 45px;
        background: none;
        margin: 1rem 0.9rem;
        color: #FFFFFF;
        -webkit-transition: all 1s;
        transition: all 1s; }
        body main .paket button:hover {
          -webkit-transform: scale(1.01);
                  transform: scale(1.01);
          background-color: #19b5fe;
          color: #FFFFFF;
          border: none; }
    body main .check p {
      color: #FFFFFF;
      font-weight: 100; }
    body main .check span {
      color: #FFFFFF;
      font-size: 1.5em; }
    body main .check .btn {
      width: 31rem;
      height: 5rem;
      border-radius: 5rem;
      font-size: 0.9em;
      margin: 2rem 0; }
    body main .check h4 {
      color: #FFFFFF; }
    body main .check h5 {
      color: #FFFFFF;
      font-weight: 100; }
  body .portfel .row {
    margin: 4rem 0; }
  body .portfel h1 {
    font-size: 2.2em;
    font-weight: 400; }
  body .portfel hr {
    width: 380px;
    background-color: #19b5fe;
    margin-top: 1.5rem; }
  body .portfel button {
    padding: 1rem 2rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: none;
    border-right: none;
    border-left: 0.5px solid #19b5fe;
    border-top: 2px solid #19b5fe;
    border-bottom: 2px solid #19b5fe;
    color: #19b5fe;
    text-transform: uppercase; }
    body .portfel button:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      background-color: #19b5fe;
      color: #FFFFFF;
      border-radius: 1rem; }
  body .portfel .end-btn {
    border-radius: 0 2rem 2rem 0;
    border-right: 2px solid #19b5fe; }
  body .portfel .start-btn {
    border-radius: 2rem 0 0 2rem;
    border-left: 2px solid #19b5fe; }
  body .portfel img {
    margin-bottom: 2rem;
    -webkit-transition: all 1s;
    transition: all 1s; }
    body .portfel img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  body aside {
    background-color: #f5f9fa; }
    body aside .row {
      margin: 4rem 0; }
    body aside .aside-text h1 {
      font-size: 2.2em;
      font-weight: 400; }
    body aside .aside-text hr {
      width: 380px;
      background-color: #19b5fe;
      margin-top: 1.5rem; }
    body aside hr {
      width: 130px;
      background-color: #19b5fe;
      margin-top: 1.5rem; }
    body aside p {
      font-size: 0.8em; }
  body .prosess .prosess-text {
    margin-bottom: 4rem; }
  body .prosess h1 {
    font-size: 2.2em;
    font-weight: 400; }
  body .prosess hr {
    width: 380px;
    background-color: #19b5fe;
    margin-top: 1.5rem; }
  body .prosess p {
    font-size: 2em;
    -webkit-columns: #464646;
            columns: #464646; }
  body .prosess img {
    margin-bottom: 2rem;
    -webkit-transition: all 1s;
    transition: all 1s; }
    body .prosess img:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
  body .company {
    background-color: #f5f9fa; }
    body .company h1 {
      font-size: 2.2em;
      font-weight: 400; }
    body .company hr {
      width: 380px;
      background-color: #19b5fe;
      margin-top: 1.5rem;
      margin-bottom: 3rem; }
    body .company input[type="range"] {
      margin-top: 3rem;
      width: 110rem; }
  body .my-comand h1 {
    font-size: 2.2em;
    font-weight: 400; }
  body .my-comand hr {
    width: 380px;
    background-color: #19b5fe;
    margin-top: 1.5rem; }
  body .my-comand .comand-photo {
    margin-top: 4.5rem; }
  body .my-comand h3 {
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 1rem;
    color: #19b5fe; }
  body .my-comand .text-sub {
    margin-top: 6rem; }
    body .my-comand .text-sub h2 {
      font-size: 1.9em;
      font-weight: 500;
      padding-bottom: 2rem; }
    body .my-comand .text-sub p {
      font-size: 1.2em; }
  body .blog {
    background-color: #f5f9fa; }
    body .blog .blog-text {
      margin-bottom: 3rem; }
      body .blog .blog-text h1 {
        font-size: 2.2em;
        font-weight: 400; }
      body .blog .blog-text hr {
        width: 380px;
        background-color: #19b5fe;
        margin-top: 1.5rem; }
    body .blog img {
      padding-bottom: 2rem; }
  body .quation {
    background-image: url(../images/quation.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    body .quation h1 {
      font-size: 2.2em;
      font-weight: 400;
      color: #FFFFFF; }
    body .quation hr {
      width: 380px;
      background-color: #FFFFFF;
      margin-top: 1.5rem; }
    body .quation p {
      color: #FFFFFF;
      font-size: 1.6em;
      font-weight: 300;
      padding-bottom: 5rem; }
    body .quation input {
      width: 240px;
      height: 50px;
      border-radius: 10px;
      border: none;
      padding-left: 1.2rem;
      font-style: 0.5em;
      margin: 0 0.35rem; }
      body .quation input:focus {
        outline: none; }
    body .quation textarea {
      height: 125px;
      border-radius: 10px;
      padding: 1.2rem;
      margin: 1rem 0; }
      body .quation textarea:focus {
        outline: none; }
    body .quation .icons li {
      display: block; }
      body .quation .icons li span {
        color: #FFFFFF; }
    body .quation .icons p {
      font-size: 0.9em; }
  body footer {
    background-color: #24241f; }
    body footer p {
      font-size: 0.85em;
      color: #FFFFFF; }
    body footer a p {
      font-size: 0.85em;
      color: #FFFFFF; }
      body footer a p:hover {
        color: #19b5fe; }
    body footer hr {
      background-color: #50504c; }
    body footer img {
      vertical-align: middle; }

/* *******DESKTOP LARGE SCREEN SIZE******** */
@media screen and (max-width: 992px) {
  body header .phone h4 {
    font-size: 1rem; }
  body .design img {
    width: 100%; }
  body main .radio ul li {
    margin-right: 0.2rem; }
    body main .radio ul li span {
      font-size: 1em; }
    body main .radio ul li input[type="radio"] {
      width: 2rem;
      height: 2rem;
      margin-left: 1.1rem; }
  body main .paket {
    padding-bottom: 1rem; }
    body main .paket button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      -ms-flex-line-pack: center;
          align-content: center;
      margin: 1rem auto;
      width: 80%; }
  body main .check .btn {
    width: 90%; }
  body .portfel .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.8em; }
  body .quation input {
    width: 46.5rem;
    height: 5rem;
    margin-top: 1rem; }
  body .quation .icons {
    display: inline-block;
    margin: 2rem auto;
    margin-bottom: -3rem; } }
/* ********TABLET MEDIUM SCREEN SIZE********** */
@media screen and (max-width: 768px) {
  body header .logo {
    padding-left: 3rem; }
  body header .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-left: 4rem; }
  body header .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    body header .contact input {
      width: 100%; }
  body .design h2 {
    text-align: center; }
  body .design .btn {
    width: 100%;
    margin-bottom: 2rem; }
  body main span {
    font-size: 1.5em; }
  body main .radio span {
    font-size: 1em; }
  body main .radio input[type="radio"] {
    margin-top: 1.3rem;
    width: 2rem;
    height: 2rem;
    margin-left: 2rem; }
  body main .paket {
    padding-bottom: 1rem;
    margin-bottom: 2rem; }
  body main .check .btn {
    width: 90%;
    font-size: 1.2em; }
  body main .check span {
    font-size: 1.5em; }
  body main .check p {
    font-size: 1.5em; }
  body .portfel .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.9em;
    margin: 0 4rem; }
    body .portfel .buttons .two-btn {
      padding-bottom: 1rem; }
    body .portfel .buttons .thr-btn {
      border-right: 2px solid #19b5fe;
      border-radius: 0 2rem 2rem 0; }
    body .portfel .buttons .end-btn {
      margin-top: 2rem;
      border-radius: 2rem; }
  body .quation input {
    width: 26.5rem;
    height: 5rem;
    margin-top: 1rem; }
  body .quation .icons {
    display: inline-block;
    margin: 2rem auto;
    margin-bottom: -3rem; } }
/* **********MOBILE SMALL SCREEN SIZE********** */
@media screen and (max-width: 576px) {
  body {
    font-size: 18px; }
    body header .menu .phone {
      margin-top: 3rem; }
      body header .menu .phone h4 {
        font-size: 1em; }
    body header .menu .nav {
      margin-top: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      margin-left: auto; }
    body header .menu .logo {
      width: 100px;
      height: 50px; }
    body header .menu p {
      font-size: 1em; }
    body header .text-sup h1 {
      font-size: 2em; }
    body header .text-sup h3 {
      font-size: 1.5em; }
    body header .text-sup p {
      font-size: 1em; }
    body .design .row {
      margin: 0 3rem; }
    body .design hr {
      display: none; }
    body main .row {
      margin: 0 3rem; }
    body main h1 {
      padding-bottom: 2rem; }
    body main hr {
      display: none; }
    body main .radio ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      body main .radio ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        body main .radio ul li input[type="radio"] {
          margin-top: 1.3rem;
          width: 3rem;
          height: 3rem; }
    body .portfel hr {
      display: none; }
    body .portfel .buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      font-size: 1.5em; }
      body .portfel .buttons a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        body .portfel .buttons a button {
          border-right: 2px solid #19b5fe;
          border-radius: 1rem;
          margin-bottom: 1rem; }
        body .portfel .buttons a .thr-btn {
          border-radius: 1rem; }
        body .portfel .buttons a .end-btn {
          border-radius: 1rem;
          margin-top: 0.2rem; }
    body aside .aside-text hr {
      display: none; }
    body .prosess hr {
      display: none; }
    body .prosess p {
      font-size: 1.5em; }
    body .company .comp-text h1 {
      padding-bottom: 4rem;
      font-size: 1.7em; }
    body .company .comp-text hr {
      display: none; }
    body .company input[type="range"] {
      width: 90rem; }
    body .my-comand hr {
      display: none; }
    body .blog hr {
      display: none; }
    body .quation hr {
      display: none; }
    body footer .footer-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
