$primary-color-dark: #303F9F;
$primary-color: #3F51B5;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #19b5fe;
$accent-color-light: #f5f9fa;
$primary-text-color: #363636;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

html {
  font-size: 10px;
}

body {
  font-size: 16px;

  .container {
    padding: 4rem 0;
  }

  .btn {
    width: 225px;
    height: 60px;
    background-color: $accent-color;
    color: $primary-color-text;
    border-radius: 50px;
    font-size: 1em;

    &:hover {
      background-color: $primary-color-text;
      border: 2px solid $accent-color;
      color: $accent-color;
    }
  }

  a:hover {
    cursor: pointer;
  }

  i {
    width: 3rem;
    height: 3rem;
    border: 1px solid $primary-color-text;
    border-radius: 0.5rem;
    padding: 0.7rem;
    color: $primary-color-text;
    margin: 1rem;

    &:hover {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }

  // Header
  header {
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .phone {
      h4 {
        color: $primary-color-text;
        font-size: 0.7em;
        font-weight: 300;

        p {
          font-size: 1.6em;
          font-weight: 500;
        }
      }
    }

    .nav {
      .menu-burger {
        span {
          display: block;
          width: 40px;
          height: 3px;
          margin: 0.2rem 0;
          background-color: $primary-color-text;
          cursor: pointer;

          &:hover {
            background-color: $accent-color;
          }
        }
      }



      p {
        color: $primary-color-text;
        cursor: pointer;

        &:hover {
          color: $accent-color;
        }
      }

      .hidden {
        display: none;

      }

      ul {
        box-shadow: 0 0 3px $accent-color;

        li {
          display: block;
          font-size: 1.2em;

          a {
            color: $primary-color-text;
            text-decoration: none;

            &:hover {
              color: $accent-color;
            }

          }
        }
      }
    }

    .cat {
      transition: all 1s;

      &:hover {
        // transform: scaleY(1.1);
        transform: rotate(360deg);
      }
    }
  }

  .text-sup {
    color: $primary-color-text;
    padding-top: 8rem;

    h1 {
      font-size: 3em;
    }

    h3 {
      font-size: 2em;
    }

    p {
      padding: 4rem 0;
      font-size: 1.4em;
      font-weight: 100;
    }
  }

  .contact {
    input {
      width: 290px;
      height: 50px;
      border-radius: 50px;
      border: none;
      padding-left: 2rem;
      margin-left: 0.8rem;
      margin-bottom: 3.5rem;

      &:focus {
        outline: none;
      }

      &:active {
        border: 2px solid $accent-color;
      }
    }
  }

  .temp {
    p {
      color: $primary-color-text;
      font-weight: 100;
      padding-top: 2rem;
    }

    img {
      padding-top: 7rem;
      padding-bottom: 5rem;
    }
  }

  // My Us

  .design {
    img {
      transition: 0.5s;

      &:hover {
        transform: scale(1.03);
      }
    }

    .my {
      h1 {
        font-size: 2.2em;
        font-weight: 400;
      }

      hr {
        width: 380px;
        background-color: $accent-color;
        margin-top: 1.5rem;
      }
    }

    .integer {
      padding-top: 5rem;

      h2 {
        color: $accent-color;
      }

      button {
        margin-top: 3rem;
      }
    }

    .extra {
      padding-top: 5rem;
    }

    h2 {
      color: $accent-color;
    }

    button {
      margin-top: 3rem;
    }
  }

  // ********************

  main {
    background-image: url(../images/changeHouse.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .main-text {
      h1 {
        font-size: 2.2em;
        font-weight: 400;
        color: $primary-color-text;
      }

      hr {
        width: 380px;
        background-color: $primary-color-text;
        margin-top: 1.5rem;
      }

      p {
        color: $primary-color-text;
        font-weight: 300;
        font-size: 1.5em;
        padding-bottom: 4rem;
      }
    }

    .radio {
      box-shadow: 0 0 4px #fff;

      ul {
        display: flex;
        padding-bottom: 2rem;
      }

      li {
        list-style-type: none;
      }

      span {
        color: $primary-color-text;
        font-weight: 200;
        font-size: 2rem;
      }

      h4 {
        color: $primary-color-text;
        font-weight: 300;
        padding: 1rem 2rem 0 1rem;
      }

      input[type="radio"] {
        margin: 0 4rem;
      }
    }

    .paket {
      box-shadow: 0 0 4px #fff;

      h4 {
        color: $primary-color-text;
        font-weight: 300;
        padding: 1rem 0 1rem 1rem;
      }

      button {
        width: 195px;
        height: 45px;
        background: none;
        margin: 1rem 0.9rem;
        color: $primary-color-text;
        transition: all 1s;

        &:hover {
          transform: scale(1.01);
          background-color: $accent-color;
          color: $primary-color-text;
          border: none;
        }
      }

    }

    .check {
      p {
        color: $primary-color-text;
        font-weight: 100;
      }

      span {
        color: $primary-color-text;
        font-size: 1.5em;
      }

      .btn {
        width: 31rem;
        height: 5rem;
        border-radius: 5rem;
        font-size: 0.9em;
        margin: 2rem 0;
      }

      h4 {
        color: $primary-color-text;
      }

      h5 {
        color: $primary-color-text;
        font-weight: 100;
      }
    }
  }

  // ********************************
  .portfel {
    .row {
      margin: 4rem 0;
    }

    h1 {
      font-size: 2.2em;
      font-weight: 400;
    }

    hr {
      width: 380px;
      background-color: $accent-color;
      margin-top: 1.5rem;
    }

    button {
      padding: 1rem 2rem;
      transition: all 0.5s;
      background: none;
      border-right: none;
      border-left: 0.5px solid $accent-color;
      border-top: 2px solid $accent-color;
      border-bottom: 2px solid $accent-color;
      color: $accent-color;
      text-transform: uppercase;

      &:hover {
        transform: scale(1.05);
        background-color: $accent-color;
        color: $primary-color-text;
        border-radius: 1rem;
      }
    }

    .end-btn {
      border-radius: 0 2rem 2rem 0;
      border-right: 2px solid $accent-color;
    }

    .start-btn {
      border-radius: 2rem 0 0 2rem;
      border-left: 2px solid $accent-color;
    }

    img {
      margin-bottom: 2rem;
      transition: all 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  // *****************************************

  aside {
    background-color: #f5f9fa;

    .row {
      margin: 4rem 0;
    }

    .aside-text {
      h1 {
        font-size: 2.2em;
        font-weight: 400;
      }

      hr {
        width: 380px;
        background-color: $accent-color;
        margin-top: 1.5rem;
      }
    }

    hr {
      width: 130px;
      background-color: $accent-color;
      margin-top: 1.5rem;
    }

    p {
      font-size: 0.8em;
    }

  }

  // **************************
  .prosess {
    .prosess-text {
      margin-bottom: 4rem;
    }

    h1 {
      font-size: 2.2em;
      font-weight: 400;
    }

    hr {
      width: 380px;
      background-color: $accent-color;
      margin-top: 1.5rem;
    }

    p {
      font-size: 2em;
      columns: #464646;
    }

    img {
      margin-bottom: 2rem;
      transition: all 1s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  // *************************************

  .company {
    background-color: $accent-color-light;

    h1 {
      font-size: 2.2em;
      font-weight: 400;
    }

    hr {
      width: 380px;
      background-color: $accent-color;
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }

    input[type="range"] {
      margin-top: 3rem;
      width: 110rem;
    }
  }

  // *************************************

  .my-comand {
    h1 {
      font-size: 2.2em;
      font-weight: 400;
    }

    hr {
      width: 380px;
      background-color: $accent-color;
      margin-top: 1.5rem;
    }

    .comand-photo {
      margin-top: 4.5rem;
    }

    h3 {
      font-size: 1.5em;
      font-weight: 400;
      padding-top: 1rem;
      color: $accent-color;
    }

    .text-sub {
      margin-top: 6rem;

      h2 {
        font-size: 1.9em;
        font-weight: 500;
        padding-bottom: 2rem;
      }

      p {
        font-size: 1.2em;
      }
    }
  }

  // **************************************************
  .blog {
    background-color: $accent-color-light;

    .blog-text {
      margin-bottom: 3rem;

      h1 {
        font-size: 2.2em;
        font-weight: 400;
      }

      hr {
        width: 380px;
        background-color: $accent-color;
        margin-top: 1.5rem;
      }
    }

    img {
      padding-bottom: 2rem;
    }
  }

  // *************************************************

  .quation {
    background-image: url(../images/quation.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
      font-size: 2.2em;
      font-weight: 400;
      color: $primary-color-text;
    }

    hr {
      width: 380px;
      background-color: $primary-color-text;
      margin-top: 1.5rem;
    }

    p {
      color: $primary-color-text;
      font-size: 1.6em;
      font-weight: 300;
      padding-bottom: 5rem;
    }

    input {
      width: 240px;
      height: 50px;
      border-radius: 10px;
      border: none;
      padding-left: 1.2rem;
      font-style: 0.5em;
      margin: 0 0.35rem;

      &:focus {
        outline: none;
      }
    }

    textarea {
      height: 125px;
      border-radius: 10px;
      padding: 1.2rem;
      margin: 1rem 0;

      &:focus {
        outline: none;
      }
    }

    .icons {
      li {
        display: block;

        span {
          color: $primary-color-text;
        }
      }

      p {
        font-size: 0.9em;
      }
    }
  }

  // ****************************************************

  footer {
    background-color: #24241f;

    p {
      font-size: 0.85em;
      color: $primary-color-text;
    }

    a {
      p {
        font-size: 0.85em;
        color: $primary-color-text;

        &:hover {
          color: $accent-color;
        }
      }
    }

    hr {
      background-color: #50504c;
    }

    img {
      vertical-align: middle;
    }
  }
}



@import 'media';